*.vim
.env
.Renviron
.virtualenv
.quarto
.DS_Store
.ipynb_checkpoints

analysis/*.ipynb
analysis/archive/*.ipynb
!analysis/notebook_templates/*.ipynb

etl/*.ipynb
etl/archive/*.ipynb

scratch/*
!scratch/.gitkeep

.quarto
